@page "/main"
@using BlazorDiplom.Components.Main.Shared
@using BlazorDiplom.ViewModels

@layout MainLayout

@inherits SalesCubeComponent
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h3 style="color: white;">Куб продаж</h3>
            <button @onclick="RunSalesEtlJob" type="button" class="btn btn-primary">Запуск ETL процесса</button>
            <button @onclick="RunCubeProcessing" type="button" class="btn btn-danger">Запуск процессирования куба (в разработке)</button>
            @if (GridData == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <DxDataGrid Data="@GridData">
                    <DxDataGridColumn Field="@nameof(OlapSales.MonthName)" Caption="Месяц"></DxDataGridColumn>
                    <DxDataGridColumn Field="@nameof(OlapSales.SalesCount)" Caption="Количество продаж"></DxDataGridColumn>
                    <DxDataGridColumn Field="@nameof(OlapSales.Sum)" Caption="Сумма продаж"></DxDataGridColumn>
                </DxDataGrid>
            }
        </Authorized>
        <NotAuthorized>
            <p>Вы не авторизованы</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

