@page "/main"
@using BlazorDiplom.Components.Main.Shared
@using BlazorDiplom.ViewModels

@layout MainLayout

@inherits SalesCubeComponent
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <h3 style="color: white;">Куб продаж</h3>
            <button @onclick="RunSalesEtlJob" type="button" class="btn btn-primary">Запуск ETL процесса</button>
            <button @onclick="RunCubeProcessing" type="button" class="btn btn-danger">Запуск процессирования куба (в разработке)</button>
        <DxPivotGrid Data="@GridData" CssClass="w-100">
        <DxPivotGridField Field="@nameof(OlapSales.MonthName)" ></DxPivotGridField>
        <DxPivotGridField Field="@nameof(OlapSales.SalesCount)" ></DxPivotGridField>
        <DxPivotGridField Field="@nameof(OlapSales.Sum)" ></DxPivotGridField>
        </DxPivotGrid>

        </Authorized>
        <NotAuthorized>
            <p>Вы не авторизованы</p>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

